name: MLflow Workflow

on: [push]

jobs:
  mlflow:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install MLflow
        run: pip install mlflow

      - name: Run MLflow Project
        run: mlflow run .
